<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/" type="guide" id="archive-view" xml:lang="ca">

  <info>
    <link type="guide" xref="index#managing-archives"/>
    <revision pkgversion="3.4" date="2011-12-12" status="review"/>
    <revision pkgversion="3.6" date="2012-08-05" status="review"/>
    <revision pkgversion="3.8" date="2013-03-25" status="candidate"/>
    <credit type="author">
      <name>Marta Bogdanowicz</name>
      <email>majus85@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Ekaterina Gerasimova</name>
      <email>kittykat3756@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Compartir Igual 3.0</p>
    </license>
    <desc>Visualitzeu un arxiu existent i el seu contingut.</desc>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Gil Forcada</mal:name>
      <mal:email>gilforcada@guifi.net</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  
    <mal:credit xmlns:mal="http://projectmallard.org/1.0/" type="translator copyright">
      <mal:name>Manel Vidal</mal:name>
      <mal:email>verduler@gmail.com</mal:email>
      <mal:years>2013</mal:years>
    </mal:credit>
  </info>

  <title>Visualització d'arxius</title>

  <p>Existeixen dues formes per visualitzar un arxiu:</p>

  <terms>
    <item>
      <title>Visualitzar tots els fitxers</title>
      <p>Feu clic a <guiseq><gui style="menu">Visualitza</gui><gui style="menuitem">Visualitza tots els fitxers</gui></guiseq>. El <app>Gestor d'arxius</app> mostrarà una llista amb tots els fitxers que conté l'arxiu. Podreu veure els noms, les mides, els tipus, les dates de les últimes modificacions i les ubicacions.</p>
      <note style="tip">
	<p>Podeu utilitzar els encapçalaments de les columnes esmentades abans (nom, mida…) per ordenar els fitxers de l'arxiu. Per fer-ho, feu clic a l'encapçalament; torneu-hi a fer clic per invertir l'ordre de la columna.</p>
      </note>
    </item>
    <item>
      <title>Visualitzar com una carpeta</title>
      <p>Aquesta visualització mostra l'estructura clàssica de directoris. Feu clic a <guiseq><gui style="menu">Visualització</gui> <gui style="menuitem">Visualitza-ho com una carpeta</gui></guiseq>.</p>
      <note style="tip">
	<p>Si visualitzeu l'arxiu en aquest mode i premeu <key>F9</key> o feu clic a l'opció <guiseq><gui style="menu">Visualitza</gui> <gui style="menuitem">Carpetes</gui></guiseq> podreu veure la visualització en arbre de les carpetes a la subfinestra lateral. Us facilita la navegació entre les carpetes.</p>
      </note>
    </item>
  </terms>

  <section id="file-open">
    <title>Obriu els fitxers del arxiu</title>

    <p>Feu doble clic sobre el nom del fitxer o feu clic amb el botó secundari sobre el nom del fitxer i seleccioneu <gui>Obre</gui>. El <app>Gestor d'arxius</app> obrirà el fitxer amb l'aplicació per defecte per a aquest tipus de fitxer.</p>

    <note>
      <p>Per obrir el fitxer amb una aplicació diferent feu el següent:</p>
      <steps>
        <item>
          <p>Feu clic al fitxer amb el botó secundari.</p>
        </item>
        <item>
          <p>Feu clic a <gui>Obre amb…</gui>.</p>
        </item>
        <item>
          <p>Seleccioneu l'aplicació que voleu utilitzar i feu clic a <gui>Selecciona</gui>.</p>
        </item>
      </steps>
    </note>
  </section>

</page>
